@use 'vars';

:root{
  color-scheme: dark;
}
html, body{
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: vars.$bg-color;
  color: rgb(255,255,255);
}
.main-header {
  height: 82px;
  width: 100%;
  a {
    height: 82px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    color: rgb(255,255,255);
    opacity: 0.7;
    font-weight: 600;
    text-decoration: none;
  }
  .brand-logo {
    padding: 0 24px;
    opacity: 1.7;
  }
  img {
    height: 48px;
  }
  button {
    cursor: pointer;
    height: 82px;
    padding: 0 24px;
    margin: 0;
    float: right;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  ul {
    font-size: 0;
    position: fixed;
    top: 82px;
    right: 0;
    width: 0;
    transition: width 0.3s, background-color 0.3s;
    z-index: 100;
    overflow: hidden;
    height: calc(100vh - 102px);
    padding: 20px 0 0 0;
    li {
      display: flex;
      width: 100%;
      list-style: none;
      a {
        font-size: 10px;
        opacity: 0;
        transition: font-size 0.4s, opacity 0.2s;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .open {
    background-color: vars.$bg-color;
    width: 100%;
    a {
      transition: color 0.3s;
      font-size: medium;
      opacity: 1;
      &:hover {
        color: #02ffb4;
      }
    }
  }
}
.main-page {
  h1 {
    font-weight: 700;
    margin: 48px 26px 0 26px;
    font-size: 26px;
    span {
      color: #02ffb4;
    }
  }
  .grid-box {
    margin: 24px;
    display: grid;
    @media (min-width: 950px) {
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas:
            "main-box secondary-box1"
            "main-box secondary-box2";
    }
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "main-box main-box"
    "secondary-box1 secondary-box2";
    gap: 12px 12px;
    @media (max-width: 384px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
      "main-box"
      "secondary-box1"
      "secondary-box2";
    }
    div {
      border-radius: 10px;
      padding: 0 15px;
      background-color: rgba(75, 89, 89, 0.20);
      h2 {
        font-size: 26px;
        font-weight: 700;
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
      }
      img {
        width: 80%;
        margin: 8px 10% 0 10%;
      }
      a {
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        display: flex;
        width: min-content;
        align-items: center;
        color: white;
        font-weight: 500;
        transition: padding 0.5s, color 0.2s, border-color 0.2s;
        border-bottom: rgba(255, 255, 255, 0.4) solid 2px;
        &:hover {
          padding-right: 16px;
          border-color: #02ffb4;
        }
      }
    }
    .main-box {
      grid-area: main-box;
      a {
        font-size: 18px;
        height: 28px;
        margin: 12px 0 24px 0;
      }
    }
    .secondary-box1 {
      grid-area: secondary-box1;
    }
    .secondary-box2 {
      grid-area: secondary-box2;
    }
  }
}
.main-footer {
  margin: 28px;
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 940px) {
      grid-template-columns: repeat(4, 1fr);
    }
    grid-template-rows: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    ul {
      padding: 4px 0;
      margin: 0;
      h2{
        font-size: 16px;
        margin-bottom: 16px;
        opacity: 0.4;
      }
      li {
        font-size: 15px;
        margin-bottom: 16px;
        list-style-type: none;
        color: rgba(255, 255, 255, 0.9);
        a {
          line-height: 8px;
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          b {
            color: #02ffb4;
            font-weight: 600;
            opacity: 0.9;
          }
        }
      }
    }
  }
  .last {
    padding-top: 64px;
    h1 {
      text-align: center;
      margin: 0;
      img {
        height: 48px;
      }
    }
    p {
      margin: 8px;
      text-align: center;
      font-size: 16px;
      opacity: 0.4;
    }
  }
}
