@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$color-gray-900: rgb(16, 16, 16);
$color-gray-800: rgb(21, 21, 21);
$color-gray-700: rgb(28, 28, 28);
$color-gray-600: rgb(33, 33, 33);
$color-gray-500: rgb(40, 40, 40);
$color-gray-400: rgb(51, 51, 51);
$color-gray-300: rgb(66, 66, 66);
$color-gray-200: rgb(79, 79, 79);
$color-gray-100: rgb(92, 92, 92);



$color-background: rgb(35, 38, 42);
$color-foreground: rgb(43, 48, 52);
//$color-foreground: rgba(75, 89, 89, 0.2);

$color-white: rgb(255,255,255);
$color-aqua: #02ffb4;

$box-shadow-default: 0 0 12px -5px rgba(17, 19, 23, 0.67);

$header-height:82px;
