@use "vars";
@use "sass:color";

//$gradient-color: hsl(var(--hue-degrees), 100%, 50%);
$gradient-color: vars.$color-aqua;

.container:hover .button::before{
  opacity: 1;
}

.button:hover > .shadow{
  animation: shadow-start 200ms linear forwards;
}

.button{
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  padding-right: 1px;
  background-color: color.adjust(vars.$color-foreground, $lightness: 10%);
  &:hover{
    &::before{
      opacity: 1;
    }
    &::after{
      opacity: 0.06;
    }
  }
  &::before, &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 200ms;
  }

  &::before{
    background: radial-gradient(
                    var(--gradient-size) circle at var(--mouse-x) var(--mouse-y),
                    $gradient-color,
                    transparent 40%
    );
  }
  &::after{
    background: radial-gradient(
                    var(--gradient-size) circle at var(--mouse-x) var(--mouse-y),
                    $gradient-color,
                    transparent 40%
    );
    z-index: 10;
  }
  .content{
    position: relative;
    padding: 1rem;
    height: 100%;
    border-radius: inherit;
    background-color: vars.$color-foreground;
  }
  .shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    box-shadow: var(--shadow) var(--glow-size) $gradient-color;
    animation: shadow-exit 200ms linear forwards;
  }
  @keyframes shadow-start{
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
  @keyframes shadow-exit {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 0;
    }
  }
}
