@use "sass:color";
@use "vars";

.main {
  color: rgb(255, 255, 255);
  .grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }
  h1 {
    font-weight: 700;
    margin: 48px 26px 0 26px;
    font-size: 52px;
    span {
      color: vars.$color-aqua;
    }
    @media (max-width: 430px) {
      font-size: 12vw;
    }
  }
  .button {
    margin: 20px 22px 48px 22px;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    background: linear-gradient(90deg, #00BDAB, vars.$color-aqua);
    box-shadow: 0 0 16px -8px vars.$color-aqua;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: vars.$color-background;
    cursor: pointer;
    transition: filter 0.3s, box-shadow 0.3s;
    &:hover {
      filter: brightness(110%);
      box-shadow: 0 0 16px -4px vars.$color-aqua;
    }
  }
  #modelContainer{
    width: 100% !important;
    display: flex;
    justify-content: center;
    #model{
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      user-select: none;
    }
    @media (max-width: 1100px){
      overflow-x: hidden;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: -10;
      opacity: 0.15;
      filter: grayscale(1);
      user-select: none;
    }
  }
  @media (min-width: 950px) {
    flex-direction: row;
    #modelContainer{
      width: 100%;
    }
  }
}
.description {
  margin-top: 5rem;
  h1 {
    font-size: 26px;
    margin: 24px 24px 0 24px;
  }
  ul {
    margin: 24px;
    list-style: none;
    display: grid;
    @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 24px;
    li {
      background-color: vars.$color-foreground;
      line-height: 170%;
      padding: 15px;
      border-radius: 10px;
      box-shadow: vars.$box-shadow-default;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      svg{
        height: 32px;
        width: 32px;
        fill: vars.$color-aqua;
        margin-bottom: 5px;
      }
    }
  }
}
.aboutUs {
  box-shadow: vars.$box-shadow-default;
  background: linear-gradient(120deg, vars.$color-aqua, #01b2b2);
  color: vars.$color-white;
  margin-top: 5rem;
  padding: 5rem 0 7rem 0;
  h1 {
    text-align: center;
    font-size: 38px;
    margin: 24px 24px 0 24px;
    font-weight: 700;
    span {
      opacity: 0.8;
    }
    @media (max-width: 1000px) {
      margin-bottom: 48px;
    }
  }
  .groupMembers {
    margin: 24px 20%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px 24px;
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
    .member {
      text-align: center;
      h2 {
        font-size: 28px;
      }
      .avatarWrapper{
        display: flex;
        justify-content: center;
        a {
          display: flex;
          width: min-content;
          border: 2px solid transparent;
          border-radius: 50%;
          transition: border-color 0.2s;
          img {
            margin: 4px;
            border-radius: 50%;
            box-shadow: vars.$box-shadow-default;
            object-fit: cover;
          }
          &:hover {
            border-color: vars.$color-white;
            img {
              filter: grayscale(0.5);
            }
          }
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
