@use "vars";

#fullImage{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000aa;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  .imageWrapper{
    max-height: 90vh;
    overflow: auto;
    img{
      object-fit: cover;
      object-position: center 0;
      height: min-content;
      max-width: 80vw;
    }
  }
  svg{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
  }
}
.title {
  padding: 6rem 0;
  background: linear-gradient(120deg, vars.$color-aqua, #01b2b2);
  margin: 0 0 4rem 0;
  h1 {
    font-size: 48px;
    text-align: center;
  }
}
.portfolio{
  display: flex;
  flex-direction: column;
  margin: 0 24px 6rem;

  .project{
    display: flex;
    position: relative;
    width: 100%;
    gap: 5%;
    transition: border 150ms linear;
    box-sizing: border-box;
    &:not(:last-child){
      margin-bottom: 6rem;
    }
    &:nth-child(even){
      flex-direction: row-reverse;
    }
    .description{
      display: flex;
      flex-direction: column;
      left: 0;
      width: 100%;
      padding: 1rem 0;
      gap: 5%;
      .descTitle{
        display: block;
        overflow: visible;
        height: auto;
        h1{
          font-size: 48px;
          margin-bottom: 3px;
        }
        h2{
          opacity: .7;
          font-size: 20px;
        }
      }
      h1, h2, p{
        color: vars.$color-white;
      }
      p{
        height: 100%;
        margin-bottom: 10px;
        line-height: 2.4ch;
      }
      .languages{
        margin: 10px 0;
        height: auto;
        ul{
          margin-left: -0.6rem;
          margin-bottom: 0;
          li{
            height: 34px;
            margin-bottom: 0;
            padding: 0 14px;
            p{
              line-height: 1rem;
              height: auto;
              margin: 0;
            }
          }
        }
      }
      .links{
        display: flex;
        justify-content: space-between;
        align-self: start;
        a{
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          height: 25px;
          svg{
            position: relative;
            margin-right: 5px;
            fill: vars.$color-aqua;
            min-width: 25px;
            height: 25px;
          }
          p{
            position: relative;
            color: vars.$color-aqua;
            margin: 0 8px 10px 0;
            line-height: 28px;
            transition: all 100ms linear;
            transform-origin: left;
            font-size: 18px;
          }
        }
      }
    }
    .img{
      width: 100%;
      height: 22rem;
      img{
        box-shadow: vars.$box-shadow-default;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        border-radius: 12px;
      }
    }
    @media(max-width: 1000px){
      flex-direction: column !important;
    }
  }
}